:root{   
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

}

body{
    margin: 0;
    font-size: .8725rem;
    background-color: var(--Grey-100);
}

main{
    padding: 3em 1.5em;
    display: grid;
    gap: 1.5em 0;
}

h2{
    font-weight: 900;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: .925em;
}

.abrams-card img,
.cliff-card img{
    border: 2px solid var(--Purple-300);
}

.profile-info p{
    margin: 0;
}

article{
    color: var(--White);
    padding: 2.2em;
    border-radius: 10px;
}

.cliff-card{
    background-color: var(--Purple-500);
}

.walters-card{
    background: var(--Grey-400);
}

.whittle-card{
    color: var(--Grey-400);
}

.harmon-card,
.whittle-card{
    background-color: var(--White);
    color: var(--Black);
}

.abrams-card{
    background: var(--Dark-blue);
}